<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/931bdc35-4324-4029-adf2-0ad7ee6ce335/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/AppService03-01-2024</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://appservice03-01-2024.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c27db909-d8a8-4f3d-9602-05fbb547d760</ProjectGuid>
    <PublishUrl>https://appservice03-01-2024.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AppService03-01-2024</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>